.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  background-color: gray;
  height: 100px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

menu {
  list-style-type: none;
  padding-top: 25px;
  text-align: right;
}

menu li {
  display: inline;
  padding: 35px;
  color: wheat;
  transition: all 0.2s ease-out;
}

menu li:hover {
  background-color: yellowgreen;
  color: black;
}

main {
  background-color:  bisque;
  min-height: 250px;
  text-align: left;
}

footer {
  background-color: black;
}

.texto-rodape {
  margin: 0px;
  padding: 10px;
  color: gainsboro;
}

.container {
  margin: 0 auto;
}

.logo {
  max-height: 100px;
}

#conteudo {
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
